<footer>
     <div class="f-info sticky-bottom">
        
        <div class="f-info-socials">
            <a href="/"><i class="fa-brands fa-facebook"></i>  </a>
            <a href="/"><i class="fa-brands fa-instagram"></i>    </a>
            <a href="/"><i class="fa-brands fa-whatsapp"></i>    </a>
        </div>

            <div class="f-info-links">   
                <div> &copy; MusafirStays Pvt Ltd</div>
                <a href="/">Privacy Terms</a>        
            </div>
    
       
       
     </div>

</footer>